
.DS_Store
cloudfun/day-1/~$signing for the Microsoft Cloud WBDS.docx

cloudfun/day-1/~$1-Dan-InfraApps.pptx
modern-workplace/day4/~$01-Modern Workplace - Day 4.pptx
bizapps/day-4/~$ - Team Challenge - Day 4 - Modern Workplace Apps .docx
